<!-- Default home page <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>  -->

<!--
<div class="jumbotron">
	<div class="header">
    	<h1 id="main-title" class="container">...winter is coming...</h1>
	</div>
</div>
-->
<div class="main" ng-view >
</div>