<section id="home_page"> 
	<div class="container-fluid home_page" >
		<div id="bg">
  		  <div id="search-container">
    		  <div id="search-bg"></div>
    		  <div class="home-logo"><img src="http://placehold.it/250x90"></div>
			  <div id="search">
	  				  <h3>Cool Mint <small>Impossible made simple</small></h4>
					  <h4>We don't want boring customer.
      	  		  	  <small style="margin-top:3em; text-align:center;"><a href="#">Join us</a> you are in good company (we are: {{users.length}})</small></h4>	  	 	
    		  </div>
  		  </div>
		</div>
	</div>
</section>
