<section id="contents_list"> 
    <!-- -->
    <!-- -->
	<div class="container-fluid" >
		<div ng-repeat="cover in latestPost | limitTo : 1" id="post.id" class="row fill home-main-post" ng-style="{'background-image':'url(/got/image/'+cover.coverImage+')'}">
			<div class="container" >
				<article>
					<div class="caption-txt col-md-12">
						<h1><a href="#/post/{{cover.id}}/">{{cover.title}}</a> <small>article wrote by <a href="#/user/{{cover.owner.id}}">{{cover.owner.nickname}}</a></small></h1>
						<p>{{cover.content | limitTo:postPreviewLimit }}... <a href="#/post/{{cover.id}}/">[read more]</a></p>
					</div>
				</article>
			</div>
		<!-- </div> -->
    	<!-- -->
    	<!-- Other Post -->
			<div class="container home-other-post">
				<div class="row clearfix">
					<article ng-repeat="post in posts" id="post.id">
					<div class="col-md-4 col-xs-12">
						<div class="col-md-12 col-xs-6 pull-right">
							<h1><a href="#/post/{{post.id}}/">{{post.title}}</a></h1>
							<h6>article wrote by <a href="#/user/{{post.owner.id}}">{{post.owner.nickname}}</a></h6>
						</div>
						<div class="col-md-12 col-xs-6 pull-left">
							<div class="thumb" ng-style="{'background-image':'url(/got/image/'+post.coverImage+'/small)'}" ></div>
						</div>
						<p class="col-md-12 col-xs-6 pull-right">{{post.content | limitTo:postPreviewLimit }}... <a href="#/post/{{post.id}}/">[read more]</a></p>
					</article>
				</div>
				<div class="row clearfix">
					<center>
						<nav>
					  	  <ul class="pagination">
					    	  <li ng-class="{'disabled': currentPage == 0 }" ng-click="setPage('prev')">
					      		<a href="" aria-label="Previous" ng-click="prevPostPage()" >
					        		<span aria-hidden="true">&laquo;</span>
					      	  	</a>
					    	  </li>
							  <!-- -->
							  <!-- -->
					    	  <li ng-repeat="p in getPostsNumber(pageNumber) track by $index" ng-class="{'active': currentPage == $index }" ><a href="" ng-click="setPage($index)" >{{$index}}</a></li>
					    	  <!-- -->
							  <!-- -->
							  <li ng-class="{'disabled': currentPage == 1 }">
					      		<a href="" aria-label="Next" ng-click="setPage('next')">
					        		<span aria-hidden="true">&raquo;</span>
					      	    </a>
					    	  </li>
					  	 </ul>
						</nav>
					</center>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Mail Signup Form -->
<!-- Mail Signup Form -->
<!-- Mail Signup Form -->
<section id="sign-up"> 
	<div class="row" >
		<div class="container sign-up" >
			<div class="col-lg-offset-3 col-lg-6">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="//twitter.us5.list-manage.com/subscribe/post?u=ca884abd6fd449cdac4f8623e&amp;id=d297c1caa1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    		<div id="mc_embed_signup_scroll">
							<h2>Subscribe to our mailing list</h2>
							<div class="form-group mc-field-group">
								<label for="mce-EMAIL">Email Address </label>
								<input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
							</div>
							<div class="form-group mc-field-group">
								<label for="mce-FNAME">First Name </label>
								<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
							</div>
							<div class="form-group mc-field-group">
								<label for="mce-LNAME">Last Name </label>
								<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
							</div>
							<div id="form-group mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    			<div style="position: absolute; left: -5000px;"><input type="text" name="b_ca884abd6fd449cdac4f8623e_d297c1caa1" tabindex="-1" value=""></div>
			    			<div class="clear"><input type="submit" class="btn btn-default" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    		</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</section>


<hr>
