<article class="post-detail edit">
	<div class="container-fluid">
		<div class="row">
    		<div class="col-lg-6 coverpad"> 
				<div class="cover fill" ng-style="{'background-image':'url(/images/upload/'+post.coverImage+')'}">
        		 <!-- <img ng-src="/images/upload/{{post.coverImage}}" > 
				      <img ng-model="post.coverImage" ng-src="/images/upload/{{post.coverImage}}"> -->
				</div>
			</div>
    		<div class="col-lg-6">
				<div class="col-lg-12 alert alert-warning alert-dismissible flash-message" role="alert" ng-show="flash.getMessage()">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p><strong>Whassup:</strong> {{flash.getMessage()}}</p>
				</div>
				<div class="col-lg-12 btn-group tool" role="group" aria-label="..." ng-show="post.owner.id == currentUser.id">
					<button type="button" class="btn btn-default" ng-click="deletePost()">Delete</button>
					<button type="button" class="btn btn-default" ng-click="savePost()" >Save</button>
					<button type="button" class="btn btn-default" ng-click="">New</button>
				</div>
				<form id="PostEditForm" class="col-md-12" >
					<div class="form-group ">
						<input type="hidden" name="id"         ng-model="post.id"         value="{{post.id}}" />
				    	<input type="hidden" name="coverImage" ng-model="post.coverImage" value="{{post.coverImage}}" />
						<label for="PostTitle">Title</label> <small>(<i>added by </i><a href="#/user/{{post.owner.id}}">{{post.owner.nickname}}</a>) | id: {{post.id}} - Owner {{post.owner.nickname}} ( id: {{post.owner.id}} )</small>
				    	<input type="text" class="form-control" id="name" placeholder="Insert Post Title..." value="{{post.title}}" ng-model="post.title">
				  	</div>
					<!-- content -->
				  	<div class="form-group body">
				    	<label for="postContent">Body</label>
				    	<textarea class="form-control" id="content" placeholder="Insert your post..." ng-model="post.content">{{post.content}}</textarea>
				  	</div>
					<!-- tags -->						
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title">Related Tag</h3></div>
						<div class="panel-body">
							<div class="col-lg-6">
								<h4>Content's Tag</h4><hr>
								<span ng-repeat="tag in post.tags" class="label label-primary post-tag" ><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeTag(tag.id)"></span> {{tag.name}}</span>
							</div>
							<div class="col-lg-6">		
								<h4>Add Tags</h4><hr>
								<span>suggested tags:</span>
								<div>
									<span ng-repeat="t in autocompleteTags" class="label label-primary post-tag" ng-model="autocompleteTags" ng-click="addTag(t.id)" ><span class="glyphicon glyphicon-tags post-tag" aria-hidden="true" ></span>{{t.name}}</span>
								</div>
								<input type="text" class="form-control" id="searchTag" name="searchTag" ng-model="searchTag" placeholder="Add one tag at time..." ng-change="findTag(searchTag)" ng-enter="addNewTag(searchTag)">
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title">Upload Cover Image</h3></div>
						<div class="panel-body">
							<div flow-init="{target: '/file/upload', testChunks:false }" flow-files-submitted="$flow.upload()" flow-file-success="changeImageName($message); $file.msg = $message;">
  								<span class="btn btn-default" flow-btn>Upload File</span>
								<table class="debug">
									<tr ng-repeat="file in $flow.files">
    									<td>{{$index+1}}</td>
        								<td>{{file.msg}}</td>
    								</tr>
								</table>
							</div>
						</div>
					</div>		
					<button type="submit" class="btn btn-default" ng-click="savePost()" >Save</button>
				</form>
			</div>
		</div>
	</div>
</article>
