/* 
  Generic Styles -  used in more that 1 page 
---------------------------------------------------------------------------- */
html, body 			{ min-height: 100%;  }
.navbar 			{ margin-bottom: 0px;   }
.fill				{ min-height: 100vh; }
.post-tag 			{ margin-right: 0.5em; margin-bottom: 1em;}
.sign-up 			{ background: rgba(0,0,0,0.1); border-top: 1px solid rgba(0,0,0,0.1); }
.flash-message 		{ margin-top: 1.5em;}

.footer 			{ bottom: 0; width: 100%;  height: 60px; background-color: #f5f5f5; }
footer h1   		{ color:  #FFF }
footer ul 	 		{ height: 9em  }
footer ul li 		{ color:  #FFF }





/* Css specific pages */
/* Home page 
---------------------------------------------------------------------------- */
.home_page{ padding: 0; }

#bg, #search-bg {
  background: url(https://drscdn.500px.org/photo/35068626/m%3D2048/ef1967de8d99cb50e34094ea487935f5) no-repeat center center fixed;
   /* background-repeat: no-repeat;
  background-size: auto 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-logo { background-color: rgba(0, 0, 0, 0.5); min-height: 75px; width: 255px; margin-right: 1px; padding-left:1px; float:left;}

#bg { width: 100%; height: 100vh; padding-top:70vh; padding-left:1em; padding-right:1em;}
#search-container { position: relative; }
#search-bg {
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  z-index: 99;
  filter: url('/media/blur.svg#blur');
  filter: blur(2px);
  -webkit-filter: blur(10px);
}

#search {
	position: relative;
	z-index: 100;
	background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	margin-left: 256px;
}

#search h3, #search h4, #search small { color: #fefefe;}

/* Posts list - main page 
---------------------------------------------------------------------------- */
.home-main-post							{ min-height: 100vh; min-width: 100%; background-position: 0 0; background-repeat: no-repeat; background-size: 100% auto; }
.home-main-post .caption-txt 		    { margin-top: 30%; text-align: center;}
.home-main-post .caption-txt h1 a 		{ color: #FFFFFF;}
.home-main-post .caption-txt h1 a:hover { text-decoration: none; text-shadow: 0px -1px rgba(0,0,0,0.40);}
.home-main-post .caption-txt h1         { font-size: 7em; text-align:right;text-shadow: 0px -2px rgba(0,0,0,0.30);}
.home-main-post .caption-txt h1 small   { font-size: 0.25em; clear: right; display: block; color: #337AB7; text-shadow: 2px 2px rgba(255,255,255,0.20);}
.home-main-post .caption-txt h1 small a { text-shadow: 2px 2px rgba(0,0,0,0.20);}
.home-main-post .caption-txt p 		    { font-size: 1.5em; color: #F2F2F2; text-shadow: 1px 1px rgba(0,0,0,0.20);}

.home-other-post { margin-top: 1em; background: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.1),rgba(0,0,0,0.1)); border-top: 1px solid rgba(0,0,0,0.10); border-right: 1px solid rgba(0,0,0,0.10); border-left: 1px solid rgba(0,0,0,0.10);padding-bottom:1em; border-radius: 3px; }

.home-other-post h1 	{ border-top: 2px solid #337AB7; text-shadow: 1px 1px rgba(255,255,255,0.20); min-height:2.4em; border-bottom: 2px solid #337AB7; font-size:1.9em;}
.home-other-post h6   	{ color: #FFFFFF; text-shadow: 1px 1px rgba(0,0,0,0.20);}
.home-other-post h6 a 	{ text-shadow: 1px 1px rgba(255,255,255,0.20);}
.home-other-post p 		{ text-shadow: 1px 1px rgba(255,255,255,0.20); margin-top:0.5em; }
.home-other-post .thumb	{ height:150px; background-size: 120% auto; background-position: 0 10%; border-radius:3px ; background-repeat: no-repeat; margin-top:1.25em; overflow:hidden;}

/* Posts details - 
---------------------------------------------------------------------------- */
.post-detail       	    { position: relative; background-color: #fefefe; overflow: hidden; }
.post-detail .coverpad  { padding-left:0px; }
.post-detail h1 	    { margin-top: 25%;}
.post-detail .cover     { height: 300px; overflow: hidden; border-top: 4px solid #337AB7;margin-left:0px; background-position: 50% top; background-repeat: no-repeat;}
.post-detail .btn-group { margin-top: 1.5em; margin-bottom:1.5em;}

/* Posts edit - main page 
---------------------------------------------------------------------------- */
.post-detail.edit .form-group.body textarea { height: 30em;}




